@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color1: #ff971c;
  --color2: #ff5454;
  --color3: #2e302a;
  --colorLetra: #fff;

  --color1Hover: #F6A651;
  --color2Hover: #F8777E;
}
